/* - - - -  - Font - - - - - */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

/* - - -  - common styles - - - -  */
*{
    margin: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
header{
    width: 100%;
    height: 100vh;
    background: rgba(255, 144, 14, 0.1);
    padding-top: 50px;
    
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-title{
    margin-left: 240px;
    color: #131313;
    font-size: 45px;
    
}
.menu-container{
    margin-right: 240px;
    color: #424242;
    font-size: 18px;
    font-weight: 500px;
}
.items{
    display: flex;
    list-style: none;

}
.item{
    padding: 30px;
}
/* banner styles */


